<h1>Contact Information</h1>
<p> </p>
<h3>Address</h3>
<%= @street_number %> <%= @street %>, 
<%= @city %>, <%= @state %> <%= @zipcode %>

<h3>Phone Number</h3>
<%= @phone_number %>

<h3>Fax Number</h3>
<%= @fax_number %>

<h3>Email</h3>
<%= @email %>
